body { 
	font-family: neue-haas-grotesk-text, sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 20px;
	scroll-behavior: smooth;
}

nav {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	width: 100%;
	height: 55px;
	margin: auto;
	padding-top: 30px;
	text-align: center;
	font-family: neue-haas-grotesk-display, sans-serif;
	font-weight: 500;
	font-style: normal;
	font-size: 20px;
	color: white;
	position: fixed;	
	z-index: 9;
}

footer {
}


a { 
	text-decoration: none;
	}

h5 {
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 90px;
	text-transform: uppercase;
	color:white;
	text-align: center;
	
}


h2 {
	color: white;
	text-decoration: none;
	padding-left: 35px;
	padding-right: 35px;
}

  h2:hover { 
	color: #9432d3;
}

h3 {
	color: white;
	text-decoration: none;
	padding-left: 35px;
	padding-right: 35px;
}

 h3:hover { 
	color:#fe51c7 ;
}

h4 {
	font-family: chalet-london, sans-serif;
	font-weight: 400;
	font-style: normal;
	color: white;
	font-size: 60px;
}


li {
	font-size: 50px;
}

.grid {
	display: grid;
	grid-template-columns: 1fr;
	width: 100%;
}

.grid2{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	width: 100%;
}

#home {
	height: 100vh;
	background: url("../images/bg_blue.jpg") repeat;
	text-align: center;
}

#about {
	height: 100vh;
	background: url("../images/bg_purple.jpg") repeat;
	padding: 0 65px;

}

#events {
	height: 100vh;
	background: url("../images/bg_pink.jpg") repeat;
	
	overflow: hidden;
}



.grow {
	transition: .4s ease;

}

.grow:hover {
	transform: scale(1.5);
	-webkit-transform: scale(1.5);
	-ms-transform: scale(1.5);
}




.float-ease-in-out1 {
  animation: float 1.5s infinite ease-out;

}

.float-ease-in-out2 {
  animation: float 2s infinite ease-out;

}

.float-ease-in-out3 {
  animation: float 1.8s infinite ease-out;

}

.float-ease-in-out4 {
  animation: float 1.7s infinite ease-out;

}

.float-ease-in-out5 {
  animation: float 1.2s infinite ease-out;

}

.float-ease-in-out6 {
  animation: float .75s infinite ease-out;

}


@keyframes float {
  0% {
    transform: translateY(0);
  }

  20% {
    transform: translateY(0.1rem);
  }

  100% {
    transform: translateY(0);
  }
}





@keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

@-webkit-keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}



.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: both
}

.animatedFadeInUp {
    opacity: 0
}

.fadeInUp {
    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
    margin: auto;
    text-align: ;

}

      .marquee {
      margin: 0 auto;
      width: 100%;
      height: 55px;
      white-space: nowrap;
      overflow: hidden;
      box-sizing: border-box;
      position: relative;
      color:white;
      }

      .marquee:before, .marquee:after {
      position: absolute;
      top: 0;
      width: 50px;
      height: 30px;
      content: "";
      z-index: 1;
      }
      .marquee:before {
      left: 0;
      }
      .marquee:after {
      right: 0;
      }
      .marquee__content {
      width: 300%;
      display: flex;
      line-height: 30px;
      animation: marquee 13s linear infinite forwards;
      }
      .marquee__content:hover {
      animation-play-state: paused;
      }
      .list-inline {
      display: flex;
      justify-content: space-around;
      width: 33.33%;
      /* reset list */
      list-style: none;
      padding: 0;
      margin: 0;
      }
      @keyframes marquee {
      0% {
      transform: translateX(0);
      }
      100% {
      transform: translateX(-66.6%);
      }
      }


@media only screen and (min-width: 768px) {}

@media only screen and (min-width: 1025px) {}

@media only screen and (min-width: 1200px) {}
	
@media only screen and (min-width: 1440px) {}








